[submodule "deploy/puppet/module-bundles/puppet-npm"]
	path = deploy/puppet/module-bundles/puppet-npm
	url = git://github.com/sheknows/puppet-npm.git
[submodule "servers/node_modules/nacl"]
	path = servers/node_modules/nacl
	url = git://github.com/asutherland/node-djb-nacl.git
[submodule "servers/node_modules/websocket"]
	path = servers/node_modules/websocket
	url = git://github.com/asutherland/WebSocket-Node.git
[submodule "clients/deps/wmsy"]
	path = clients/deps/wmsy
	url = https://github.com/asutherland/wmsy.git
