body .mobile,
body.conversationView #secondaryNav li.back {
    display: block;
}

body #composeWrap {
    padding: 48px 0 0 0;
}

body #composeWrap #composeWindow {
    position: relative;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

body #secondaryNav {
    width: 100%;
    height: 48px;
    border-right: none;
    border-bottom: 1px solid #222;
    
    -webkit-box-shadow: 0 -10px 3px 10px #000000;
       -moz-box-shadow: 0 -10px 3px 10px #000000;
            box-shadow: 0 -10px 3px 10px #000000;
}

body #secondaryNav ul {
    margin: 0;
}

body #primaryNav {
    width: 100%;
    padding: 48px 0 0 0;
    margin: 0;
    border-right: none;
    
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    
    -webkit-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
       -moz-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
            transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
}

body.conversationView #primaryNav {
    left: -100%;
}

body.conversationView #secondaryNav li.inbox,
body.conversationView #secondaryNav li.compose,
body.conversationView #secondaryNav li.labels,
body.conversationView #secondaryNav li.search {
    display: none;
}

body #conversation {
    margin: 0;
    -webkit-transform: translate(100%, 0px);
       -moz-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
    
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
       -moz-transition: -moz-transform 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
            transition: transform 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
}

body.conversationView #conversation {
    right: 0;
    
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

body .message .fullMsgHeader {
    padding: 60px 0 5px;
}