@import url("mobile.css") screen and (max-width: 720px);

* {
    margin: 0;
    padding: 0;
    
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 12px;
    line-height: 21px;
    color: #222;
    overflow: hidden;
    min-width: 320px;
}

a {
    color: #2EA4FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    color: #222;
    background-color: #222;
}

.mobile {
    display: none;
}

button {
    height: 24px;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6 #bbb #bbb #e6e6e6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
            
    background-image: -moz-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f2f2f2));
}

button:active {
    border: 1px solid #888;
    background-image: none;
    background-color: #e6e6e6;
    
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25) inset;
       -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25) inset;
            box-shadow: 0 0 2px 1px rgba(0,0,0,0.25) inset;
}

#composeWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 102;
    background-color: transparent;
    padding: 48px 48px 48px 96px;
    
    -webkit-transform: translate(0px, 100%);
       -moz-transform: translate(0px, 100%);
            transform: translate(0px, 100%);
    
    -webkit-transition: -webkit-transform 0.2s, background-color 0.1s ease-out;
       -moz-transition: -moz-transform 0.2s, background-color 0.1s ease-out;
            transition: transform 0.2s, background-color 0.1s ease-out;
}

#composeWrap.open {
    background-color: rgba(255,255,255,0.75);

    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
            
    -webkit-transition: -webkit-transform 0.2s, background-color 1s 0.5s ease-out;
       -moz-transition: -moz-transform 0.2s, background-color 1s 0.5s ease-out;
            transition: transform 0.2s, background-color 1s 0.5 ease-out;
}

    #composeWrap #composeWindow {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #fff;
        border: 1px solid #aaa;
        padding: 24px;
        
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
        
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
           -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }
    
    #composeWrap .inputWrap {
        border-bottom: 1px solid #222;
        padding: 0 0 5px 0;
        margin: 0 0 21px 0;
    }
    
    #composeWrap label {
        margin: 0 10px 0 0;
        font-size: 18px;
    }
    
    #composeWrap input[type=text],
    #composeWrap textarea {
        border: none;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #composeWrap textarea {
        padding: 10px;
        background-color: #f2f2f2;
        border: none;
        color: #222;
        margin: 0 0 21px 0;
        width: 100%;
        
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
    }
    
    button.save {
        margin: 0 5px 0 0;
    }

#settings div {
    padding: 10px;
}

#secondaryNav {
    top: 0;
    left: 0;
    width: 48px;
    height: 100%;
    position: fixed;
    z-index: 102;
    background-color: #222;
    overflow: hidden;
    border-right: 1px solid #222;
    
    background-image: -moz-linear-gradient(left, #222 0%, #1f1f1f 100%);
    background-image: -webkit-gradient(linear, top left, top right, color-stop(0%, #222), color-stop(100%, #1f1f1f));
    
    -webkit-box-shadow: -10px 2px 3px 10px #000000;
       -moz-box-shadow: -10px 2px 3px 10px #000000;
            box-shadow: -10px 2px 3px 10px #000000;
}
    
    #secondaryNav ul {
        margin: 31px 0 0 0;
    }

    #secondaryNav li {
        width: 48px;
        height: 48px;
        display: block;
        float: left;
        cursor: pointer;
        background-position: left center;
        background-repeat: no-repeat;
    }
    
    #secondaryNav li.selected,
    #secondaryNav li.on {
        background-position: right center;
    }
    
    #secondaryNav li.inbox {
        background-image: url("i/sidebar_inbox.png");
    }
    
    #secondaryNav li.compose {
        background-image: url("i/sidebar_compose.png");
    }
    
    #secondaryNav li.labels {
        background-image: url("i/sidebar_labels.png");
    }
    
    #secondaryNav li.search {
        background-image: url("i/sidebar_search.png");
    }

    #secondaryNav li.settings {
        background-position: center center;
        background-image: url("i/sidebar_settings.png");
    }
    
    #secondaryNav li.back {
        display: none;
        background-position: center center;
        background-image: url("i/back.png");
    }

#primaryNav {
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0 0 0 48px;
    background-color: #fff;
    border-right: 1px solid #aaa;
    
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}   

    #primaryNav #listWrap {
        position: relative;
        width: 960px;
        height: 100%;
        left: 0;
        
        -webkit-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
           -moz-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
                transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
    }
    
    #primaryNav.messages #listWrap {
        left: -100%;
        
        -webkit-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
           -moz-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
                transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
    }

    #primaryNav.settings #listWrap {
        left: -200%;
        
        -webkit-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
           -moz-transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
                transition: left 0.2s cubic-bezier(0.0, 0.0, 0.0, 1.0);
    }

    #primaryNav section#search {
        display: block;
        width: 100%;
        height: auto;
        float: none;
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
        margin-top: -53px;
    
        -webkit-transition: all 0.2s ease-out;
           -moz-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
    }
    
    #primaryNav section#search.visible {
        margin-top: 0;
    }
    
    #primaryNav section#search img {
        vertical-align: middle;
    }
    
    #primaryNav section#search input {
        font-size: 16px;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #bbb transparent #e6e6e6 #bbb;
        font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
        outline: none;
        
        -webkit-border-radius: 2px 0 0 2px;
           -moz-border-radius: 2px 0 0 2px;
                border-radius: 2px 0 0 2px;
    }
    
    #primaryNav section#search input:focus {
        border-color: #2EA4FF;

        -webkit-box-shadow: 0 0 3px rgba(46,164,255,1) inset;
           -moz-box-shadow: 0 0 3px rgba(46,164,255,1) inset;
                box-shadow: 0 0 3px rgba(46,164,255,1) inset;
    }
    
    #primaryNav section#search button {
        -webkit-border-radius: 0 2px 2px 0;
           -moz-border-radius: 0 2px 2px 0;
                border-radius: 0 2px 2px 0;
    }

    #primaryNav section {
        float: left;
        width: 33.33%;
        height: 100%;
        display: inline-block;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    #primaryNav section header {
        width: 100%;
        padding: 5px 10px;
        position: relative;
        z-index: 101;
        border-bottom: 1px solid #aaa;
        
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
           -moz-box-shadow: 0 0 2px rgba(0,0,0,0.15);
                box-shadow: 0 0 2px rgba(0,0,0,0.15);
    }
    
    #primaryNav section header h1 {
        font-size: 12px;
    }

    #primaryNav ul {
        list-style-type: none;   
    }
    
    #primaryNav ul.default {
        font-weight: bold;
        color: #2EA4FF;
    }
    
    #primaryNav ul.custom {
        margin-top: 5px;
        font-weight: bold;
        color: green;
    }
    
    #primaryNav ul li {
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        margin-top: -1px;
        cursor: pointer;
        
        background-image: -moz-linear-gradient(top, #fff 0%, #fafafa 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fafafa));
    }

    #primaryNav ul li:hover,
    #primaryNav ul li.selected {
        border-bottom: 1px solid #BFD5DE;
        border-top: 1px solid #BFD5DE;
        z-index: 100;
        position: relative;
        
        background-image: -moz-linear-gradient(top, #EDF2F5 0%, #E6EDF0 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDF2F5), color-stop(100%, #E6EDF0));
    }
    
    li.messagePrev {
        color: #888;
    }
    
    li.messagePrev .msgCount {
        background-color: #888888;
        border-radius: 2px 2px 2px 2px;
        color: #FFFFFF;
        font-weight: bold;
        margin: 0 3px;
        padding: 0 5px;
    }
    
    li.messagePrev time {
        margin: 0 5px 0 0;
    }
    
    li.messagePrev .msgHeader .sender {
        color: #2EA4FF;
        display: block;
        font-weight: bold;
        margin-right: 5px;
    }

#conversation {
    display: block;
    margin: 0 0 0 368px;
    background-color: #f2f2f2;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

    .message {
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        opacity: 0;
        margin-bottom: 48px;
    }
    
    body.conversationView .message {
        opacity: 1;
    }
    
    .message .fullMsgHeader {
        border-bottom: 1px solid #E6E6E6;
        padding: 5px 0;
        width: 100%;
    }
    
    .message .title {
        padding: 5px 0;
    }
    
    .message .title .subject {
        font-size: 16px;
        padding: 5px 0;
        width: 100%;
    }

    .message .tags {
        line-height: 31px;
    }

    .message .tags span {
        background-color: #FF5959;
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: bold;
        padding: 2px 5px;
    }
    
    .message .starred {
        color: #AAAAAA;
        line-height: 31px;
        padding: 0 0 0 10px;
    }

    .message .messageBody {
        background-color: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 1px 1px 0 #FFFFFF;
        padding: 0 25px 25px;
    }
        
        .message .messageBody .messageBodyHeader {
            padding: 25px 0 10px;
        }
        
        .message .messageBody .messageBodyHeader .from {
            font-weight: bold;
        }
        
        .message .messageBody .messageBodyHeader .to {
            color: #888;
        }
        
        .message .messageBody p {
            color: #444444;
            margin-bottom: 21px;
        }

/* hbox and vbox */
 
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: horizontal;
	box-align: stretch;
	
	width: 100%;
}
 
.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
 
.boxFlex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.boxFlex1, .boxFlex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.boxFlex2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
 
.boxGroup1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
 
.boxGroup2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}
 
.start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

/* webkit specific styles */

/* === SAFARI SPECIFIC === */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .overflow {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}